// @import url("https://fonts.googleapis.com/css2?family=Roboto&famil/sy=Roboto+Mono&display=swap");

$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Default besides mac
  Roboto,
  // Windows
  "Segoe UI",
  // Basic web fallback
  "Helvetica Neue",
  Arial,
  // Linux
  "Noto Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

body {
  background-color: rgb(248, 248, 248) !important;
}

main {
  margin-top: 3em;

  .icon {
    margin-bottom: 0.2em;
  }
}

.cheatsheet-buttons a {
  margin-right: 0.3em;
}

.cheatsheets {
  .quote {
    border-left: 2px solid rgb(161, 161, 161);
    padding-left: 0.3em;
  }

  #toolbox-collapse tbody td:first-child,
  #automod-collapse tbody td:first-child {
    font-family: "Courier New", Courier, monospace;
    color: #e83e8c;
  }
}

.results {
  h2 {
    margin-top: 0.8em;
    font-size: 1.75em;
  }

  pre {
    background-color: rgb(221, 221, 221);
    padding: 0.5em;
    border-radius: 2px;
  }
}

footer {
  background-color: rgb(240, 240, 240);
}
